<div class="success-pay {{# if noSuccesMsg }}hidden{{/if}}">{{succesMsg}}</div>
<div class="row" style="background-color: #f6f6f6; padding:15px">
    <!--<form class="form-horizontal" method="post" action="/admin/add/product/new" enctype="multipart/form-data">-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each categories}}
            <tr>
                <th>{{name}}</th>
                <th>{{page_title}}</th>
                <th><a href="/admin/category/edit/{{id}}"><i class="far fa-edit"></i></a>
                    <form style="display:inline-block" action="/admin/category/delete?_method=DELETE" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <input type="hidden" name="id" value="{{id}}">
                        <button type="submit" style="    background: none;border: none;">
                            <i class="fas fa-times"></i></button>
                    </form>
                </th>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="form-group" id="1">
        <label for="inputEmail3" class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10">
            <select class="form-control" id="first_cat" onchange="firstCat()" required>
                <option>Select on</option>
                {{#each categories}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div id="table">

    </div>
    <div id="table_1">

    </div>
</div>
<script>
    function firstCat() {
        $.ajax({
            url: "/admin/category/" + $("#first_cat option:selected").val(), success: function (result) {
                var tabel = ' <table class="table table-striped">\n' +
                        '  <thead>' +
                        '  <tr>' +
                        '      <th>Name</th>' +
                        '      <th>Title</th>' +
                        '      <th>Action</th>' +
                        '  </tr>' +
                        '  </thead>' +
                        '  <tbody>';
                result.forEach(function (category) {
                    tabel += '<tr>' +
                            '     <th>' + category.name + '</th>' +
                            '     <th>' + category.page_title + '</th>' +
                            '     <th><a href="/admin/category/edit/' + category.id + '"><i class="far fa-edit"></i></a>' +
                            '         <form style="display:inline-block" action="/admin/category/delete?_method=DELETE" method="post">' +
                            '             <input type="hidden" name="_csrf" value="{{csrfToken}}">' +
                            '             <input type="hidden" name="id" value="' + category.id + '">' +
                            '             <button type="submit" style="    background: none;border: none;">' +
                            '                 <i class="fas fa-times"></i></button>' +
                            '         </form>\n' +
                            '     </th>\n' +
                            ' </tr>'
                });
                tabel += '</tbody>' +
                        '    </table>';
                var html = '<div class="form-group" id="2">' +
                        '     <label for="inputEmail3" class="col-sm-2 control-label" required>Second Category</label>' +
                        '     <div class="col-sm-10"><select class="form-control" id="second_cat" onchange="secondCat()"> <option >Select on</option>';
                result.forEach(function (val) {
                    html += '<option value="' + val.id + '">' + val.name + '</option>';
                });
                html += ' </select></div></div>';
                $('#table').html('');
                $('#table').html(tabel);
                $('#table_1').html('');
                if (!$('#2').length) {
                    $('#table').after(html);
                } else {
                    $('#2').replaceWith(html);
                }
            }
        });
    }

    function secondCat() {
        $.ajax({
            url: "/admin/category/" + $("#first_cat option:selected").val() +
                    "/" + $("#second_cat option:selected").val(),
            success: function (result) {
                var tabel = ' <table class="table table-striped">\n' +
                        '  <thead>' +
                        '  <tr>' +
                        '      <th>Name</th>' +
                        '      <th>Title</th>' +
                        '      <th>Action</th>' +
                        '  </tr>' +
                        '  </thead>' +
                        '  <tbody>';
                result.forEach(function (category) {
                    tabel += '<tr>' +
                            '     <th>' + category.name + '</th>' +
                            '     <th>' + category.page_description + '</th>' +
                            '     <th><a href="/admin/category/edit/' + category.id + '"><i class="far fa-edit"></i></a>' +
                            '         <form style="display:inline-block" action="/admin/category/delete?_method=DELETE" method="post">' +
                            '             <input type="hidden" name="_csrf" value="{{csrfToken}}">' +
                            '             <input type="hidden" name="id" value="' + category.id + '">' +
                            '             <button type="submit" style="    background: none;border: none;">' +
                            '                 <i class="fas fa-times"></i></button>' +
                            '         </form>\n' +
                            '     </th>\n' +
                            ' </tr>'
                });
                tabel += '</tbody>' +
                        '    </table>';
                $('#table_1').html('');
                $('#table_1').html(tabel);
            }
        });
    }

</script>