<div class="row" style="background-color: #262626; color: #f6f6f6;">
    <div class="col-md-10"><h3>helo from admin dashboard</h3></div>
    <div class="col-md-2">
        <div>Count of Users : {{counUser}}</div>
        <div>Count of Orders : {{countOrders}}</div>
    </div>
</div>