<div class="row">
    {{# each orders}}
        <div class="col-md-3" style="color: #262626"><h3 >{{this.userName}} :</h3></div>
        <div class="col-md-9">
            {{#each this.items}}
                <li class="list-group-item" id="list">
                    <span class="badge">${{this.price}}</span>
                    {{this.items.name}} | Count : {{this.qty}}
                </li>
            {{/each}}
        </div>
        <div class="panel-footer" id="pan1"><h6 style="display: inline-block">Order # : {{this.paymentID}}</h6>
            <strong class="left">
                Total Price : ${{this.cart.totalPrice}}
            </strong>
        </div>
    {{/each}}
</div>