<div class="success-pay {{# if noSuccesMsg }}hidden{{/if}}">{{succesMsg}}</div>
<div class="row" style="background-color: #f6f6f6; padding:15px">
    <!--<form class="form-horizontal" method="post" action="/admin/add/product/new" enctype="multipart/form-data">-->
    <div class="form-group" id="1">
        <label for="inputEmail3" class="col-sm-2 control-label">Category</label>
        <div class="col-sm-10">
            <select class="form-control" id="first_cat" onchange="firstCat()" required>
                <option>Select on</option>
                {{#each categories}}
                    <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div id="table">

    </div>
</div>

<script>
    function firstCat() {
        $.ajax({
            url: "/admin/category/" + $("#first_cat option:selected").val(), success: function (result) {
                var html = '<div class="form-group" id="2">' +
                        '     <label for="inputEmail3" class="col-sm-2 control-label" required>Second Category</label>' +
                        '     <div class="col-sm-10"><select class="form-control" id="second_cat" onchange="secondCat()"> <option >Select on</option>';
                result.forEach(function (val) {
                    html += '<option value="' + val.id + '">' + val.name + '</option>';
                });
                html += ' </select></div></div>';
                if (!$('#2').length) {
                    $('#1').after(html);
                    $('#3').hide();
                    $('#table').html('');
                } else {
                    $('#2').replaceWith(html);
                    $('#3').hide();
                    $('#table').html('');
                }
            }
        });
    }

    function secondCat() {
        $.ajax({
            url: "/admin/category/" + $("#first_cat option:selected").val() +
                    "/" + $("#second_cat option:selected").val(),
            success: function (result) {
                var html = '<div class="form-group" id="3">' +
                        '     <label for="inputEmail3" class="col-sm-2 control-label">The Third Category</label>' +
                        '     <div class="col-sm-10"><select class="form-control" id="thirt_cat" name="primary_category_id" onchange="showProduct()" required> <option >Select on</option>';
                result.forEach(function (val) {
                    html += '<option value="' + val.id + '">' + val.name + '</option>';
                });
                html += ' </select></div></div>';
                if (!$('#3').length) {
                    $('#2').after(html);
                    $('#table').html('');
                } else {
                    $('#3').replaceWith(html);
                    $('#table').html('');
                }
            }
        });
    }

    function showProduct() {
        $.ajax({
            url: "/admin/products/" + $("#thirt_cat option:selected").val(),
            success: function (result) {
                var html = '<table class="table table-striped">' +
                        '<thead><tr><th>Name</th><th>Short description</th><th>Action</th></tr></thead><tbody>';
                result.forEach(function (val) {
                    html += '<tr><td>' + val.name + '</td><td>' + val.short_description + '</td><td><a href="/admin/product/edit/' + val._id + '"><i class="far fa-edit"></i>' +
                            '</a> <a href="/admin/product/show/' + val._id + '"><i class="far fa-eye"></i></a> ' +
                            '<form style="display:inline-block" action="/admin/product/delete?_method=DELETE" method="post">' +
                            '<input type="hidden" name="_csrf" value="{{csrfToken}}">' +
                            '<input type="hidden" name="id" value="' + val._id + '">' +
                            '<button type="submit" style="    background: none;border: none;">' +
                            '<i class="fas fa-times"></i></button></form></td></tr>';
                });
                html += '</tbody> </table>';
                $('#table').html(html);
            }
        });
    }

</script>