<div class="row">

    <div class="col-md-3">List of users :</div>
    <div class="col-md-9">
        {{#each users}}
            <div>Name : {{name}}, Email: {{email}}</div>
        {{/each}}
    </div>

</div>