<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin"> Dashboard</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {{# if login}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Hello {{name}} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin">Dashboard</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/users">Users</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/orders">Orders</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/add/product">Add Product</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/add/main_category">Add Main category</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/add/second_category">Add second category</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/admin/add/last_category">Add last category</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">Logout</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li><a href="/user/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a></li>
                    <li><a href="/user/signin"><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
                {{/if}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>