<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> Shop</a>
            <div class="bread head">
                <a {{#if usd}}class="active"{{else}}href="/usd" {{/if}}>USD</a>
                <a {{#if eur}}class="active"{{else}}href="/eur" {{/if}}>EUR</a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"> Choose the category<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{#each category}}
                            <li><a href="/category/{{this.id}}">{{this.name}}</a></li>
                            <li role="separator" class="divider"></li>
                        {{/each}}
                    </ul>
                </li>
                <li class="nothov">
                    <form action="/search" method="get">
                        <input type="text" name="string" autocomplete="off" id="search">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        <button type="submit" class="btn btn-default" type="button">Search!</button>
                    </form>
                </li>
                <li>
                    <a href="/shoping-cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
                        <span class="badge">{{session.cart.totalQty}}</span>
                    </a>
                </li>
                {{# if login}}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Hello {{name}} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/profile">User Account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">Logout</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li><a href="/user/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a></li>
                    <li><a href="/user/signin"><i class="fas fa-sign-in-alt"></i> Sign In</a></li>
                {{/if}}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>