<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="col-md8 col-md-ofset-2">
        <h2 class="blok">User Profile</h2>
        <hr>
        <div class="orders"><h3 id="ord">My Orders:</h3></div>
        {{# if noorders}}
            <div class="orders"><h3 id="ord">No Orders!</h3></div>
        {{/if}}
        {{#each orders}}

            <div class="panel panel-default" id="pan">
                <div class="panel-body">
                    <ul class="list-group">
                        {{#each this.items}}
                        <li class="list-group-item" id="list">
                            <span class="badge">${{this.price}}</span>
                            {{this.items.name}} | Count : {{this.qty}}
                        </li>
                    {{/each}}
                    </ul>
                </div>
                <div class="panel-footer" id="pan1"><h6 style="display: inline-block">Order # : {{this.paymentID}}</h6>
                    <strong class="left">
                        Total Price : ${{this.cart.totalPrice}}
                    </strong>
                </div>

            </div>
        {{/each}}
    </div>
</div>