<div class="row">

    <div class="loginBox">
        <img src="../img/user.png" class="user">
        <h2>Sign Up</h2>

        {{#if hassErrors}}
            <div id="error">
                {{# each messages}}
                    <h2>{{this}}</h2>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signup" method="post">
            <p>Name</p>
            <input type="text" id="name" name="name" autocomplete=off>
            <p>Email</p>
            <input type="text" id="email" name="email" placeholder="Enter Email" autocomplete=off>
            <p>Password</p>
            <input type="password" id="password" name="password" placeholder="••••••" autocomplete=off>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="submit" value="Sign Up">
            <!--<a href="#">Forget Password</a>-->
        </form>
        <br>
        <p>
            <a class="facebook" href="/user/facebook ">
                <i class="fab fa-facebook-f"></i> facebook
            </a>
            <a class="google" href="/user/google">
                <i class="fab fa-google-plus-g"></i> google
            </a>
        </p>
    </div>
</div>