<div class="row">
    <form class="form-horizontal" method="post" action="/admin/edit/product?_method=PUT" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Name" name="name" value="{{product.name}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Price" name="price"  value="{{product.price}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Page title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Page Title" name="page_title" value="{{product.page_title}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Page description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Page Description" name="page_description" value="{{product.page_description}}"  required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Short description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Short Description" name="short_description"
                       value="{{product.short_description}}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Long description</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="long_description" required>{{product.long_description}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Count of images </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="1" name="count_image" value="{{ingCount}}"
                       id="count_img" required onkeyup="addItem()">
            </div>
        </div>
        <div id="img">
            {{# each imgArray}}
            <div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Alt of images #1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Alt.." name="image_1_alt"  value="{{alt}}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Images #1</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" name="image" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Description of images #1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Description" name="image_description_1"
                               required>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Count of Color Variations </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="0" name="count_color" value="0"
                       id="count_color" required onkeyup="addItemColor()">
            </div>
        </div>
        <div id="color">

        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Count of Size Variations </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="0" name="count_size" value="0"
                       id="count_size" required onkeyup="addItemSize()">
            </div>
        </div>
        <div id="size">

        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Count of Width Variations </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="0" name="count_width" value="0"
                       id="count_width" required onkeyup="addItemWidth()">
            </div>
        </div>
        <div id="width">

        </div>
        <!--  <input type="hidden" name="_csrf" value="{{csrfToken}}">-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
</div>