body {
    background: url("../img/backgraund.jpg");
    margin: 0;
    padding: 0;
/ / /*background: url(bg.jpg);*/
background-size: cover;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

.navbar-default {
    background-color: #9094a2;
    border-color: #fff;
    opacity: .9;
    z-index: 1;

}

.dropdown-menu {
    border-radius: 10px !important;
}

.dropdown-menu > li {
    text-align: center;
}

.dropdown-menu > li > a:hover {
    border-radius: 13px !important;
    background-color: #9a9eaa;

    text-align: center;
}

.navbar-default .navbar-nav > li > a {
    color: #040404;
}

.navbar-nav > li:hover {
    background-color: #9a9a9a;
    border-radius: 25px;
    font-size: 15px;

}

.navbar-default .navbar-brand {
    color: #040404;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #040404;
    background-color: #9a9a9a;
    border-radius: 25px;

}

.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

/*signin form*/
.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    /*height: 80%;*/
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px / 2);
    left: calc(50% - 50px);
}

h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #efed40;
    text-align: center;
}

.loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder {
    color: rgba(255, 255, 255, .5);
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover {
    background: #efed40;
    color: #262626;
}

.loginBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

#error {
    background-color: red;
    opacity: .8;
    border-radius: 5px;
    color: #040404;
}

#error > h2 {
    padding: 5px 0 5px;
    font-size: 15px;
}

.thumbnail {
    background: rgba(25, 25, 25, .9)
}

/*end of sign in form*/

.thumbnail .caption {
    padding: 9px;
    color: #efed40;
}

#yelow-btn {
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    background: #730a34;
    cursor: pointer;
    border-radius: 20px;
}

#yelow-btn:hover {
    background: #e4e208;
    color: #262626;
}

.thumbnail .description {
    color: #f5f5f5;
}

.thumbnail {
    padding-top: 10px;
}

.thumbnail:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.list-group-item {
    background: rgba(25, 25, 25, .9)
}

.totalPrice {
    text-align: right;
    font-size: 25px;
    color: #e4e208;
}

.checout {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
    width: 50%;
}

.checout:hover {
    background: #efed40;
    color: #262626;
}

.center {
    text-align: center;
}

.right {
    text-align: center;
    display: inline-block;
}

.count {
    display: inline-block;

}

.input {
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.right p {
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-right: 15px;
}

/*streap line*/
.StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.paybox {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    /*height: 80%;*/
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);

}

#card-errors {

    color: red;
    background: black;
    font-size: 22px;
    opacity: 0.7;
    text-align: center;
}

#pay-btn {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #ff267e;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

#pay-btn:hover {
    background: #efed40;
    color: #262626;
}

.success-pay {
    text-align: center;
    margin: 30px;
    background: #730a34;
    width: 30%;
    font-size: 20px;
    color: white;
    border-radius: 30px;
    padding: 5px;
}

/*-----------------------------*/
.blok {
    background-color: #040404;
    opacity: 0.8;
    width: 25%;
    padding: 15px;
    border-radius: 16px;
}

.orders {
    text-align: center;
    color: #efed40;
}

#ord {
    margin: 10px 40%;
    padding: 5px;
    border-radius: 15px;
    background-color: #303030;
}

#list {
    color: #efed40;
    font-size: 15px;
}

#pan {
    background: none;
    border: none;
}

.left {
    float: right;
}

#pan1 {
    opacity: 0.92;
    border-radius: 15px;
}

.facebook {
    background: blue;
    padding: 10px 30px;
    border-radius: 20px;
}

.google {
    background: #dd4d40;
    padding: 10px 30px;
    border-radius: 20px;
    margin-left: 3px;
}

#search {
    border-radius: 13px;
    margin: 10px;
    padding: 5px;
}

#search:focus {
    outline: none;
}

.nothov:hover {
    font-size: unset !important;
    border-radius: 13px !important;;
}

/*-------------------------gal*/
#products_example {
    /*width:600px;*/
    /*height:282px;*/
    position: relative;
}

#products {
    margin-left: 26px;
}

#products .next, #products .prev {
    position: absolute;
    top: 127px;
    left: 0;
    width: 21px;
    height: 0;
    padding-top: 21px;
    overflow: hidden;
    display: block;
    z-index: 101;
}

#products .prev {
    background: url(../img/arrow-prev.png);
}

#products .next {
    left: 398px;
    background: url(../img/arrow-next.png);
}

#products .slides_container {
    width: 366px;
    height: 274px;
    overflow: hidden;
    float: left;
    position: relative;
    border: 1px solid #dfdfdf;
}

#products .pagination {
    background: #dfdfdf;
    /*width:130px;*/
    padding: 5px 5px;
    float: left;
    /*margin-left:30px;*/
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#products .pagination li {
    float: left;
    margin: 2px 4px;
}

#products .pagination li a {
    display: block;
    width: 55px;
    /*height:41px;*/
    margin: 1px;
    float: left;
    background: #f9f9f9;
}

#products .pagination li.current a {
    border: 1px solid #7f7f7f;
    margin: 0;
}

.bread {
    background-color: #040404;
    font-size: 15px;
    padding: 15px;
    margin: 15px;
    opacity: 0.8;
    color: #e4e208;
}

.bread > a {
    color: #e4e208;
    text-transform: capitalize;
}

.head {
    margin: 0 60px;
    padding: 13px;
    background-color: transparent;
    opacity: 1;
}

a.active {
    color: #040404;
    text-decoration: none;
    cursor:default;
}
#gallery {width: 660px; margin: 0 auto;}
#gallery ul {padding-left: 10px;}
#gallery li {display: inline; margin-right: 3px;}
#gallery #main-img {background: url(bg_img.png) no-repeat 0 0; padding: 26px;}
#link{
    display: block;
    padding: 10px;
    background: #800080;
    color: white;
    margin-top: 10px;
    width: 134px;
}