<div class="row">
    <div class="paybox">
        <form action="/checkout" method="post" id="payment-form">
            <div class="form-row">
                <label for="card-element">
                    <h2>Credit or debit card</h2>
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display Element errors. -->
                <div id="card-errors" role="alert">{{errmsg}}</div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="pay-btn">Pay $ {{total}}</button>
        </form>
    </div>
</div>

