<div class="success-pay {{# if noSuccesMsg }}hidden{{/if}}">{{succesMsg}}</div>

<style>
    body {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        color: #333;
        text-align: center;
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    h4 {
        background: purple;
        color: #fff;
        padding: 10px 0 10px 10px;
        margin-bottom: 3px;
        text-align: left;
        cursor: pointer;
    }

    h5 {
        margin-bottom: 40px;
    }

    .container div {
        background: #eaeaea;
        text-align: left;
        padding: 20px;
        margin-bottom: 10px;
        color: black;
        font-size: 15px;
    }
</style>
<div class="container">
    {{# each categories}}
        <h4 id="{{id}}"><span>{{name}}</span>
        </h4> <!-- title -->
        <div>
            <h3>{{page_title}}</h3>
            <p>{{page_description}}</p>
            {{# each this.categories}}
                <h4 id="{{id}}"><span>{{name}}</span>
                </h4> <!-- title -->
                <div>
                    <h3>{{page_title}}</h3>
                    <p>{{page_description}}</p>
                    {{# if image}}
                        <img src="../images/{{image}}">
                    {{/if}}
                    {{# each this.categories}}
                        <h4 id="{{id}}"><span>{{name}}</span>
                        </h4> <!-- title -->
                        <div>
                            <h3>{{page_title}}</h3>
                            <p>{{page_description}}</p>
                            {{# if image}}
                                <img src="../images/{{image}}">
                            {{/if}}
                            <a href="/products/{{id}}" id="link">Show products</a>
                        </div>

                    {{/each}}
                </div>
            {{/each}}
        </div>
    {{/each}}
</div>
<script type="text/javascript">
    $('h4').next().hide();

    $('{{active}}').next().slideToggle();

        {{#if active_second_cat}}
        $('{{active_second_cat}}').next().slideToggle()
        {{/if}}
        {{#if active_3_cat}}
        $('{{active_3_cat}}').next().slideToggle()
        {{/if}}

    $('h4').click(function () {
        $(this).next().slideToggle();
    });

    /*  $.ajax({
          type: 'GET',
          url: '/product/' + $('#product_id').val(),
          success: function (data) {
              var html = "";
              $.each(data, function (i, val) {
                  html += "<div class=\"row\">"
                  $.each(val, function (i, value) {
                      html += "<div class=\"col-sm-6 col-md-4\"><div class=\"thumbnail\">" +
                              " <img src=\"../images/" + value.imagePath + "\" alt=\"...\" class=\"img-responsive\">" +
                              "<div class=\"caption\">" +
                              " <h3>" + value.name + "</h3>" +
                              " <p class=\"description\">" + value.short_description + "</p>" +
                              "<div class=\"clearfix\">" +
                              "<div class=\"price pull-left\">" + value.cur + " " + value.price + "</div>" +
                              " <a href=\"/add-to-cart/" + value._id + "\" class=\"btn btn-success pull-right\" id=\"yelow-btn\" role=\"button\">Add to Shoping Cart</a>" +
                              "</div>" +
                              "</div>" +
                              "</div>" +
                              "</div>"
                  });
                  html += "</div>";
              });
              $('.js-popup-campaign').html(html);
          }
      })*/


</script>


