<div class="row">
    <div class="bread">
        <a href="/">Home </a> /
        <a {{#if breadcrumbs}} href="/category/{{breadcrumbs}}"{{/if}}>{{breadcrumbs_name}}  </a>{{#if second_breadcrumbs_name}} / {{/if}}
        <a>{{second_breadcrumbs_name}} </a>
    </div>
</div>
{{# each products}}
    <div class="row">
        {{# each this}}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="../images/{{this.imagePath}}" alt="..."
                         class="img-responsive">
                    <div class="caption">
                        <h3>{{this.name}}</h3>
                        <p class="description">{{this.short_description}}</p>
                        <div class="clearfix">
                            <div class="price pull-left">{{this.cur}} {{this.price}}</div>
                            <a href="/product/{{this._id}}" class="btn btn-success pull-right" id="yelow-btn"
                               role="button">view the product </a>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}
