<style xmlns="http://www.w3.org/1999/html">
    .col {
        background: #999da9;
        padding: 20px;
        border-radius: 15px;

    }

    p {
        margin: 0 0 10px;
        font-size: 20px;
    }

    label {
        padding: 5px;
    }

    .chouz {
        display: inline-block;
        font-size: 15px;
    }
</style>
<div class="row">
    <div class="bread">
        <a href="/">Home </a> /
        <a {{#if breadcrumbs}} href="/category/{{breadcrumbs}}"{{/if}}>{{breadcrumbs_name}}  </a> /
        <a href="/category/{{breadcrumbs}}-{{second_breadcrumbs_name}}">{{second_breadcrumbs_name}} </a> /
        <a >{{product.name}}</a>
    </div>
</div>
<div class="row col">
    <div class="col-sm-6 col-md-6">
        <!--<div class="wrap">-->
        <h2 class="text-center">{{product.name}}</h2>
        <div id="gallery">
            <img src="../images/{{large.link}}" alt="{{large.alt}}" title="{{large.title}}" id="main-img"/>
            <ul>
                {{#each smal }}
                    <li><img src="../images/{{this.link}}" alt="{{this.alt}}"/></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <p>{{{product.long_description}}}</p>
        <form action="/add-to-cart" method="post">
            {{#each product.variation_attributes as |value key|}}
                <h1>{{value.name}}</h1>
                {{#each value.values}}
                    <p class="chouz">
                        <input type="radio" name="{{value.id}}" value="{{name}}" id="{{this.value}}" required>
                        <label for="{{this.value}}">{{name}}</label></p>
                {{/each}}
            {{/each}}
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" name="_id" value="{{product._id}}"><br><br><br>
            <div class="price pull-left">Price : {{product.cur}} {{product.price}}</div>
            <input type="submit" class="btn btn-success pull-right" id="yelow-btn"
                   role="button" value="Add to Shoping
            Cart">
        </form>
    </div>


    <script type="text/JavaScript">
        // prepare the form when the DOM is ready
        $(document).ready(function () {
            $("#gallery li img").hover(function () {
                $('#main-img').attr('src', $(this).attr('src').replace('small', 'large'));
            });
            var imgSwap = [];
            $("#gallery li img").each(function () {
                imgUrl = this.src.replace('small', 'large');
                imgSwap.push(imgUrl);
            });
            $(imgSwap).preload();
        });
        $.fn.preload = function () {
            this.each(function () {
                $('<img/>')[0].src = this;
            });
        }
    </script>