<style>
    .accordion:hover {
        cursor: pointer;
    }

    .panel {
        display: none;
        background-color: transparent;
    }
</style>
{{# if products}}
    <div class="row">
        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
            <ul class="list-group">
                {{#each products}}
                    <li class="list-group-item">
                        <strrong class="totalPrice accordion">{{this.items.name}}</strrong>
                        <div class="right panel">
                            {{#if color}} <p> Color : {{this.color}}</p>{{/if}}
                            {{#if size}} <p> Size : {{this.size}}</p>{{/if}}
                            {{#if width}} <p> Width : {{this.width}}</p>{{/if}}
                            <p>Count:{{this.qty}}</p>
                            <p>Price: ${{this.price}}</p>
                            <form action="/add-to-cart" method="post" style="display: inline-block">
                                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                <input type="hidden" name="color" value="{{color}}">
                                <input type="hidden" name="size" value="{{size}}">
                                <input type="hidden" name="width" value="{{width}}">
                                <input type="hidden" name="_id" value="{{items._id}}">
                                <button type="submit" class="btn btn-primary" role="button">Add one</button>
                            </form>
                            <!--<a href="/add-to-cart/{{this.items._id}}" class="btn btn-primary" role="button">Add one</a>-->
                            <a href="/reduce/{{this.items._id}}" class="btn btn-warning" role="button">Delete one</a>
                            <a href="/remove/{{this.items._id}}" class="btn btn-danger" role="button">Remove all</a>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <script>
                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.display === "block") {
                            panel.style.display = "none";
                        } else {
                            panel.style.display = "block";
                        }
                    });
                }
            </script>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
            <ul class="list-group">
                <li class="list-group-item totalPrice">
                    Total: {{totalPrice}}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1 center">
            <a href="/checkout" class="btn btn-success checout" type="button">Checkout</a>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="col-sm-10 col-md-10 col-md-offset-1 col-sm-offset-1">
            <ul class="list-group">
                <li class="list-group-item">
                    <h2>No item in a cart</h2>
                </li>
            </ul>
        </div>
    </div>
{{/if}}