<style xmlns="http://www.w3.org/1999/html">
    .col {
        background: #999da9;
        padding: 20px;
        border-radius: 15px;

    }

    p {
        margin: 0 0 10px;
        font-size: 20px;
    }

    label {
        padding: 5px;
    }

    .chouz {
        display: inline-block;
        font-size: 15px;
    }
</style>
<div class="row col">
    <div class="col-sm-6 col-md-6">
        <!--<div class="wrap">-->
        <h2 class="text-center">{{product.name}}</h2>
        <div id="gallery">
            <img src="../../../images/{{large.link}}" alt="{{large.alt}}" title="{{large.title}}" id="main-img"/>
        </div>
    </div>
    <div class="col-sm-6 col-md-6">
        <p>{{{product.long_description}}}</p>
        {{#each product.variation_attributes as |value key|}}
            <h1>{{value.name}}</h1>
            {{#each value.values}}
                <p class="chouz">
                    <label>{{name}}</label></p>
            {{/each}}
        {{/each}}
        <input type="hidden" name="_id" value="{{product._id}}"><br><br><br>
        <div class="price pull-left">Price : $ {{product.price}}</div>
        <br><br>
        <form style="display:inline-block" action="/admin/product/delete?_method=DELETE" method="post">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="hidden" name="id" value="{{product._id}}">
            <button type="submit">DELETE</button>
        </form>
    </div>
</div>