<div class="success-pay {{# if noSuccesMsg }}hidden{{/if}}">{{succesMsg}}</div>
<div class="row">
    <form class="form-horizontal" method="post" action="/admin/add/main_category" >
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Name" name="name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Page Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Description" name="page_description" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Page Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Title" name="page_title" required>
            </div>
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
</div>