<div class="success-pay {{# if noSuccesMsg }}hidden{{/if}}">{{succesMsg}}</div>
<div class="row">
    <form class="form-horizontal" method="post" action="/admin/add/product/new" enctype="multipart/form-data">
        <div class="form-group" id="1">
            <label for="inputEmail3" class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <select class="form-control" id="first_cat" onchange="firstCat()"   required>
                    <option>Select on</option>
                    {{#each categories}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Name" name="name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Price</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Price" name="price" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Page title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Page Title" name="page_title" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Page description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Page Description" name="page_description" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Short description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Short Description" name="short_description"
                       required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Long description</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="long_description" required>Long Description</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Count of images </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="1" name="count_image" value="1"
                       id="count_img" required onkeyup="addItem()">
            </div>
        </div>
        <div id="img">
            <div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Alt of images #1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Alt.." name="image_1_alt" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Images #1</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" name="image" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Description of images #1</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Description" name="image_description_1"
                               required>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Count of Color Variations </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="0" name="count_color" value="0"
                       id="count_color" required onkeyup="addItemColor()">
            </div>
        </div>
        <div id="color">

        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Count of Size Variations </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="0" name="count_size" value="0"
                       id="count_size" required onkeyup="addItemSize()">
            </div>
        </div>
        <div id="size">

        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Count of Width Variations </label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="0" name="count_width" value="0"
                       id="count_width" required onkeyup="addItemWidth()">
            </div>
        </div>
        <div id="width">

        </div>
        <!--  <input type="hidden" name="_csrf" value="{{csrfToken}}">-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
</div>
<script>
    function firstCat() {
        $.ajax({
            url: "/admin/category/" + $("#first_cat option:selected").val(), success: function (result) {
                var html = '<div class="form-group" id="2">' +
                        '     <label for="inputEmail3" class="col-sm-2 control-label" required>Second Category</label>' +
                        '     <div class="col-sm-10"><select class="form-control" id="second_cat" onchange="secondCat()"> <option >Select on</option>';
                result.forEach(function (val) {
                    html += '<option value="' + val.id + '">' + val.name + '</option>';
                });
                html += ' </select></div></div>';
                if (!$('#2').length) {
                    $('#1').after(html);
                    $('#3').hide();
                } else {
                    $('#2').replaceWith(html);
                    $('#3').hide();
                }
            }
        });
    }

    function secondCat() {
        $.ajax({
            url: "/admin/category/" + $("#first_cat option:selected").val() +
                    "/" + $("#second_cat option:selected").val(),
            success: function (result) {
                var html = '<div class="form-group" id="3">' +
                        '     <label for="inputEmail3" class="col-sm-2 control-label">The Third Category</label>' +
                        '     <div class="col-sm-10"><select class="form-control" id="thirt_cat" name="primary_category_id" required> <option >Select on</option>';
                result.forEach(function (val) {
                    html += '<option value="' + val.id + '">' + val.name + '</option>';
                });
                html += ' </select></div></div>';
                if (!$('#3').length) {
                    $('#2').after(html);
                } else {
                    $('#3').replaceWith(html);
                }
            }
        });
    }

    function addItem() {
        if ($('#count_img').val() >= 1) {
            if ($('#img').children().length === 1) {
                for (var i = 1; i < $('#count_img').val(); i++) {
                    $('#img').append('<div>' +
                            '      <div class="form-group">' +
                            '          <label for="inputPassword3" class="col-sm-2 control-label">Alt of images #' + (i + 1) + '</label>' +
                            '          <div class="col-sm-10">' +
                            '              <input type="text" class="form-control" placeholder="Alt.." name="image_' + (i + 1) + '_alt" required>' +
                            '          </div>' +
                            '      </div>' +
                            '      <div class="form-group">' +
                            '          <label for="inputPassword3" class="col-sm-2 control-label">Images #' + (i + 1) + '</label>' +
                            '          <div class="col-sm-10">' +
                            '              <input type="file" class="form-control" name="image" required>' +
                            '          </div>' +
                            '      </div>' +
                            '      <div class="form-group">' +
                            '          <label for="inputPassword3" class="col-sm-2 control-label">Description of images #' + (i + 1) + '</label>' +
                            '          <div class="col-sm-10">' +
                            '              <input type="text" class="form-control" placeholder="Description" name="image_description_' + (i + 1) + '" required>' +
                            '          </div>' +
                            '      </div>' +
                            '  </div>')
                }
            } else {
                var count = $('#img').children().length;
                for (var j = 1; j < count; j++) {
                    $('#img').children().eq(1).remove();
                }
                addItem();

            }
        }
    }

    function addItemColor() {
        if ($('#count_color').val() >= 0) {

            if ($('#color').children().length === 0) {
                for (var i = 0; i < $('#count_color').val(); i++) {
                    $('#color').append('<div>' +
                            '      <div class="form-group">' +
                            '          <label for="inputPassword3" class="col-sm-2 control-label">Collor #' + (i + 1) + '</label>' +
                            '          <div class="col-sm-10">' +
                            '              <input type="text" class="form-control" placeholder="Alt.." name="color_' + (i + 1) + '" required>' +
                            '          </div>' +
                            '      </div>' +
                            '  </div>')
                }
            } else {

                var count = $('#color').children().length;
                for (var j = 0; j < count; j++) {
                    $('#color').children().eq(0).remove();
                }
                addItemColor();
            }
        }
    }

    function addItemSize() {
        if ($('#count_size').val() >= 0) {

            if ($('#size').children().length === 0) {
                for (var i = 0; i < $('#count_size').val(); i++) {
                    $('#size').append('<div>' +
                            '      <div class="form-group">' +
                            '          <label for="inputPassword3" class="col-sm-2 control-label">Size #' + (i + 1) + '</label>' +
                            '          <div class="col-sm-10">' +
                            '              <input type="text" class="form-control" placeholder="Alt.." name="size_' + (i + 1) + '" required>' +
                            '          </div>' +
                            '      </div>' +
                            '  </div>')
                }
            } else {

                var count = $('#size').children().length;
                for (var j = 0; j < count; j++) {
                    $('#size').children().eq(0).remove();
                }
                addItemSize();
            }
        }
    }
    function addItemWidth() {
        if ($('#count_width').val() >= 0) {

            if ($('#width').children().length === 0) {
                for (var i = 0; i < $('#count_width').val(); i++) {
                    $('#width').append('<div>' +
                            '      <div class="form-group">' +
                            '          <label for="inputPassword3" class="col-sm-2 control-label">Width #' + (i + 1) + '</label>' +
                            '          <div class="col-sm-10">' +
                            '              <input type="text" class="form-control" placeholder="Alt.." name="width_' + (i + 1) + '" required>' +
                            '          </div>' +
                            '      </div>' +
                            '  </div>')
                }
            } else {

                var count = $('#width').children().length;
                for (var j = 0; j < count; j++) {
                    $('#width').children().eq(0).remove();
                }
                addItemWidth();
            }
        }
    }
</script>