<div class="success-pay {{# if noSuccesMsg }}hidden{{/if}}">{{succesMsg}}</div>
<div class="row">
    <form class="form-horizontal" method="post" action="/admin/add/second_category" enctype="multipart/form-data">
        <div class="form-group" id="1">
            <label for="inputEmail3" class="col-sm-2 control-label">Category</label>
            <div class="col-sm-10">
                <select class="form-control" id="first_cat" name="first_cat" onchange="firstCat()" required>
                    <option>Select on</option>
                    {{#each categories}}
                        <option value="{{id}}">{{name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Name" name="name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Images</label>
            <div class="col-sm-10">
                <input type="file" class="form-control" name="image" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Page Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Description" name="page_description" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Page Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Title" name="page_title" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
</div>

